.tutorials {
  display: grid;
  gap: var(--base-x-3);
  justify-items: start;

  .tutorials-title {
    font-size: var(--text-headline);
  }

  .tutorial-picks {
    justify-self: stretch;
  }

  .build-steps,
  .controls {
    justify-self: stretch;
  }
}
