.pill-glider {
  --chosen-color: var(--charcoal);
  --not-chosen-color: var(--paper);

  width: fit-content;

  .pills {
    outline: var(--hairline-x-2) solid var(--chosen-color);
    outline-offset: -2px;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    border-radius: var(--radius);
    transition: background-color 0.3s;

    &:hover {
      background: var(--charcoal-veil);
    }
  }

  .pill {
    position: relative;
    align-content: center;
    text-align: center;
    height: var(--base-x-5);
    padding: 0 var(--base-x-2);
    white-space: nowrap;
    border-radius: var(--radius);
    background: transparent;
    transition: color 0.2s;
    cursor: pointer;

    &:has(:focus-visible) {
      outline: var(--hairline-x-2) solid var(--chosen-color);
      outline-offset: -2px;
    }

    &:hover {
      color: var(--white);
    }

    &:has(:checked) {
      color: var(--white);
    }
  }

  .glider {
    border-radius: var(--radius);
    background: var(--black);
    pointer-events: none;
    position: absolute;
    height: var(--base-x-5);
    transition-property: transform, width;
    transition-duration: 1s;
    /*noinspection Stylelint*/
    transition-timing-function: linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%);
  }
}
