.sortable .displaced {
  --carried: 0;
  --toward: 1;

  animation: displaced 200ms ease-out;
}

@keyframes displaced {
  from {
    transform: translateX(calc(var(--toward) * (var(--carried) * 1cqi + var(--base-x-2_5) + var(--hairline))));
  }
}
