.sortable .header-cell {
  text-align: left;
  --share: auto;

  &:focus-visible {
    outline: var(--hairline-x-2) solid var(--charcoal);
  }
}

.sortable .header-cell-content {
  padding-inline-start: var(--base-x-1_5);
}

.sortable .menu-toggle {
  min-width: var(--base-x-3);
  min-height: var(--base-x-3);
  display: inline-grid;
  place-items: center;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  color: var(--charcoal);

  &:focus-visible {
    outline: var(--hairline-x-2) solid var(--charcoal);
  }
}
