.sortable .grip,
.column-ghost .grip {
  border: none;
  padding: 0;
  background: none;
  width: var(--base-x-2);
  height: var(--base-x-2);
  display: inline-flex;
  align-items: center;

  &:focus-visible {
    outline: var(--hairline-x-2) solid var(--ring);
  }
}
