.sortable .grip {
  padding: 0;
  width: var(--base-x-2);
  height: var(--base-x-2);
  display: inline-flex;
  align-items: center;
}

@media (pointer: coarse) {
  .sortable .grip {
    min-width: var(--finger-reach);
    min-height: var(--finger-reach);
  }
}
