.sortable {
  user-select: none;
}

.cell-content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: var(--base);
}

.grabbable {
  cursor: grab;
  touch-action: none;
  transition: opacity 50ms;

  &:active {
    cursor: grabbing;
  }
}

.drag-surface {
  position: fixed;
  inset: 0;
  cursor: grabbing;
}
