.sortable {
  user-select: none;
}

.fancy-table .cell.row-header {
  vertical-align: middle;
  text-align: left;

  .grip {
    vertical-align: middle;
    margin-inline-end: var(--base);
  }
}

.grabbable {
  cursor: grab;
  touch-action: none;
  transition: opacity 50ms;

  &:active {
    cursor: grabbing;
  }
}
