.fancy-table {
  border-collapse: separate;
  border-spacing: 0;

  .cell {
    padding: var(--base-x-1_25);

    &:last-child {
      border-inline-end-width: 0;
    }
  }

  .body .cell {
    vertical-align: middle;
  }

  &.apportioned .body .cell {
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .body .row:last-child .cell {
    border-block-end-width: 0;
  }

  .header-cell {
    position: relative;
    height: var(--base-x-5);
    vertical-align: middle;
    padding: 0 0 0 var(--base-x-1_25);

    &:has(> .resize-handle) {
      padding-inline-end: var(--base-x-2);
    }

    &:has(> .menu-toggle) {
      padding-inline-end: var(--base-x-5_5);
    }

    @media (pointer: coarse) {
      --lifting-row: var(--base-x-9);

      &,
      &:has(> .resize-handle),
      &:has(> .menu-toggle) {
        height: calc(var(--lifting-row) + var(--finger-reach));
        vertical-align: top;
        padding-block: var(--base) var(--finger-reach);
        padding-inline-end: var(--base);
      }
    }
  }

  &.apportioned .header-cell {
    overflow: hidden;
    overflow-wrap: break-word;
  }
}

.resize-handle {
  position: absolute;
  inset-block: 0;
  inset-inline-end: 0;
  padding: 0;
  cursor: col-resize;
  touch-action: none;
  display: grid;
  justify-items: end;

  &::after {
    content: "";
    width: var(--base);
  }

}

.fancy-table.apportioned .header-cell.shared {
  --share: 0;

  width: var(--share);
}

@media (pointer: coarse) {
  .resize-handle {
    inset-block-start: auto;
    block-size: var(--finger-reach);
    padding-inline: calc((var(--finger-reach) - var(--base)) / 2);
  }
}
