.friends-list {
  display: flex;
  flex-direction: column;

  &.not-empty {
    gap: var(--base);
  }

  .friends {
    display: flex;
    flex-direction: column;
    gap: var(--base-x-0_5);

    .friend-title {
      line-height: var(--base-x-2);
    }

    .friend {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:focus-within,
      &:hover {
        background-color: var(--faded-internationl-orange-engineering);
      }

      .remove {
        border: none;
        background-color: transparent;
        padding: 0;
        display: flex;
      }
    }
  }

  .select-friend {
    width: 100%;
    appearance: none;
    text-align: center;
    height: var(--base-x-4);
    box-shadow: var(--light-box-shadow);
    padding: 0;
    border-radius: var(--base);

    &:focus,
    &:hover {
      color: white;
      background-color: var(--primary-dark-blue);
    }
  }
}
