#user-info-form {
  width: 100%;

  #avatar-cell {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--base-x-1_25);
    width: var(--base-x-25);
    background: var(--faded-leather);

    &:focus,
    &:hover {
      box-shadow: var(--drop-shadow);
    }

    &:active {
      box-shadow: initial;
    }

    #avatar {
      height: auto;
      width: var(--base-x-19);
    }
  }

  &.read-only *,
  &.read-only #avatar-cell {
    box-shadow: none;
    cursor: initial;
  }

  &.invalid *:invalid {
    border: var(--hairline) solid var(--internationl-orange-engineering);
    box-shadow: var(--drop-shadow);
  }

  #details-cell {
    #details {
      resize: vertical;
      border-radius: var(--radius);
      min-height: var(--base-x-0_5);
      position: relative;

      &:read-only {
        resize: none;
        border-radius: 0;
      }
    }
  }

  #dob-cell {
    display: flex;
  }

  #dob {
    min-width: 50%;
    background-color: var(--white);

    &:invalid {
      color: transparent;
    }

    &:focus {
      color: var(--void);
    }
  }

  #same-as-home-cell {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: var(--radius-pill);
    height: var(--base-x-2_5);
    text-align: center;
    width: 100%;
    font-size: var(--text-body);

    #same-as-home {
      margin-left: var(--base-x-1_25);

      &:focus {
        outline: none;
        font-size: var(--base-x-2);
      }

      &:hover,
      &:focus {
        box-shadow: var(--drop-shadow);
      }

      &:hover ~ #same-as-home-title,
      &:focus ~ #same-as-home-title {
        font-weight: bold;
        box-shadow: var(--drop-shadow);
      }
    }

    &.read-only {
      opacity: 0;
    }
  }

  &:not(.read-only) *:required + .fancy-title::after {
    content: "*";
    color: var(--internationl-orange-engineering);
  }
}

@media (max-width: 1000px) {
  #user-info-form {
    #dob {
      width: 50%;
    }
  }
}
