#user-info-form {
  display: grid;
  column-gap: var(--base-x-2);
  row-gap: var(--base-x-2);
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "title title title title title title title title title title avatar avatar"
    "name_title name_title name_title . . . . . . . avatar avatar"
    "first_name first_name first_name first_name first_name last_name last_name last_name last_name last_name dob dob"
    "email email email email email email email email email email email email"
    "home_address_title home_address_title home_address_title . . . work_address_title work_address_title same_as_home same_as_home . ."
    "home_address home_address home_address home_address home_address home_address work_address work_address work_address work_address work_address work_address"
    "details details details details details details details details details details details details"
    "reset reset reset cancel cancel cancel submit submit submit submit submit submit";

  #form-title {
    grid-area: title;
  }

  #first-name-cell,
  #last-name-cell,
  #dob-cell {
    align-self: center;
  }

  #name-title {
    grid-area: name_title;
    align-self: end;
  }

  #first-name-cell {
    grid-area: first_name;
  }

  #last-name-cell {
    grid-area: last_name;
  }

  #email-cell {
    grid-area: email;
  }

  #dob-cell {
    grid-area: dob;
  }

  #avatar-cell {
    grid-area: avatar;
    justify-self: flex-end;
  }

  #home-address-title {
    grid-area: home_address_title;
  }

  #work-address-title {
    grid-area: work_address_title;
  }

  #same-as-home-cell {
    grid-area: same_as_home;
    justify-self: flex-start;
    align-self: center;
  }

  #home-address {
    grid-area: home_address;
  }

  #work-address {
    grid-area: work_address;
  }

  #details-cell {
    grid-area: details;
  }

  #reset-form {
    grid-area: reset;
  }

  #cancel {
    grid-area: cancel;
  }

  #submit {
    grid-area: submit;
  }
}

@media (max-width: 1547px) {
  #user-info-form {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "title title title"
      "name_title name_title avatar"
      "first_name first_name first_name"
      "last_name last_name last_name"
      "email email email"
      "dob . ."
      "home_address_title . . "
      "home_address home_address home_address"
      "work_address_title same_as_home ."
      "work_address work_address work_address"
      "details details details"
      "reset cancel submit";
  }
}

@media (max-width: 1000px) {
  #user-info-form {
    display: flex;
    flex-direction: column;
  }
}
