.user-information {
  width: 100%;
  display: grid;
  column-gap: var(--base-x-2);
  row-gap: var(--base-x-2);
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    'title title title title title title title title title title avatar avatar'
    'first_name first_name first_name first_name first_name last_name last_name last_name last_name last_name avatar avatar'
    'email email email email email email email dob dob dob avatar avatar'
    'home_address_title home_address_title home_address_title . . . work_address_title same_as_home same_as_home . avatar avatar'
    'home_address home_address home_address home_address home_address home_address work_address work_address work_address work_address work_address work_address'
    'details details details details details details details details details details details details'
    'reset reset reset cancel cancel cancel submit submit submit submit submit submit';

  .form-title {
    grid-area: title;
  }

  .first-name,
  .last-name,
  .email {
    align-self: center;
  }

  .first-name {
    grid-area: first_name;
  }

  .last-name {
    grid-area: last_name;
  }

  .email {
    grid-area: email;
  }

  .dob {
    grid-area: dob;
    align-self: center;
    display: flex;

    .fancy-text {
      min-width: 50%;
    }
  }

  .avatar {
    grid-area: avatar;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--base-x-1_25);
    width: var(--base-x-25);

    img {
      height: auto;
      width: var(--base-x-19);
    }
  }

  .home-address-title {
    grid-area: home_address_title;
  }

  .work-address-title {
    grid-area: work_address_title;
    white-space: nowrap;
  }

  .same-as-home {
    grid-area: same_as_home;
    justify-self: flex-start;
    align-self: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: var(--base-x-2_5);
    text-align: center;
    width: 100%;
    border-radius: var(--radius-pill);
    font-size: var(--text-body);

    [type='checkbox'] {
      margin-left: var(--base-x-1_25);
    }

    &.read-only {
      opacity: 0;
    }
  }

  .home-address {
    grid-area: home_address;
  }

  .work-address {
    grid-area: work_address;
  }

  .details-cell {
    grid-area: details;

    .fancy-text {
      resize: vertical;
      min-height: var(--base-x-0_5);
      position: relative;
      border-radius: var(--radius);

      &:read-only {
        resize: none;
        border-radius: 0;
      }
    }
  }

  .reset {
    grid-area: reset;
  }

  .cancel {
    grid-area: cancel;
  }

  .submit {
    grid-area: submit;
  }
}

@media (max-width: 1547px) {
  .user-information {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'title title avatar'
      'first_name first_name first_name'
      'last_name last_name last_name'
      'email email dob'
      'home_address_title . . '
      'home_address home_address home_address'
      'work_address_title same_as_home .'
      'work_address work_address work_address'
      'details details details'
      'reset cancel submit';
  }
}

@media (max-width: 1000px) {
  .user-information {
    grid-template-columns: 1fr;
    grid-template-areas:
      'title'
      'avatar'
      'first_name'
      'last_name'
      'email'
      'dob'
      'home_address_title'
      'home_address'
      'work_address_title'
      'same_as_home'
      'work_address'
      'details'
      'reset'
      'cancel'
      'submit';

    .avatar {
      justify-self: center;
    }

    .dob {
      align-self: stretch;
    }
  }
}
