.recipe-figure {
  margin: 0;
  display: grid;
  gap: var(--base);

  .recipe-drawing {
    width: 100%;
    height: auto;
    fill: var(--ink);
  }

  .label {
    font-size: var(--base-x-1_5);
  }
}
