#user-info {
  display: flex;
  flex-direction: column;
}
#user-info .title {
  align-self: flex-end;
}
#user-info .fancy {
  border-radius: 2rem;
  min-height: 4rem;
  position: relative;
  transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
}

#user-info .fancy .fancy-text {
  border: 1px solid rgba(30, 118, 224, 0.68);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  outline: none;
  padding: 1rem 2rem;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  position: absolute;
}

#user-info .fancy .fancy-text:disabled {
  background: var(--disabled-gray)
}

#user-info.invalid .fancy .fancy-text:invalid {
  border: 1px solid var(--internationl-orange-engineering)
}

button:focus,
#user-info .fancy .fancy-text:focus {
  border-radius: 4rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#user-info .fancy .fancy-title {
  pointer-events: none;
  position: absolute;
  margin-left: 1.75rem;
  padding: 0 0.25rem;
  top: 1rem;
  opacity: 0.6;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#user-info .fancy.not-empty .fancy-title,
#user-info .fancy .fancy-text:disabled ~ .fancy-title,
#user-info .fancy:not(.fancy-select) .fancy-text:read-only ~ .fancy-title,
#user-info .fancy.focus .fancy-title,
#user-info .fancy .fancy-text:focus ~ .fancy-title {
  opacity: 1;
  top: -1rem;
  background: linear-gradient(#00000000, #00000000),
  linear-gradient(#00000000, rgb(255, 255, 255), #00000000),
  linear-gradient(#00000000, #00000000);
}

#user-info #details {
  resize: vertical;
  border-radius: 1rem;
  min-height: var(--base-x-0_5);
  position: relative;
}

#user-info #details-cell .fancy-title {
  position: absolute;
  z-index: 1;
}

#user-info .fancy .fancy-text:required .fancy-title:after {
  content: "*";
  color: var(--internationl-orange-engineering);
}

button {
  height: 4rem;
  border-radius: 4rem;
  text-transform: uppercase;
  padding: 12px 18px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 4px #999;
  outline: none;
}

button.primary {
  border: none;
  color: white;
  background-color: #007bff;
}
button.secondary {
  border: 1px solid #007bff;
}

.ripple {
  background-position: center;
  transition: background 0.5s;
}

.ripple:hover {
  color: white;
  background: #275c8d radial-gradient(circle, transparent 1%, #1e5eac 1%) center/15000%;
}

.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}