#user-info {
  display: grid;
  column-gap: var(--base-x-2);
  row-gap: var(--base-x-2);
  grid-template-columns: repeat(2, 1fr) var(--base-x-13) repeat(4, 1fr) var(--base-x-13) repeat(2, 1fr);
  grid-template-areas:
  "name_title . . . . . . . avatar avatar"
  "first_name first_name first_name first_name last_name last_name last_name last_name avatar avatar"
  "email email email email email email email email avatar avatar"
  "home_address_title home_address_title . . . work_address_title work_address_title .  same_as_home same_as_home"
  "home_street_address home_street_address home_street_address home_street_address home_street_address work_street_address work_street_address work_street_address work_street_address work_street_address"
  "home_street_address_2 home_street_address_2 home_street_address_2 home_street_address_2 home_street_address_2 work_street_address_2 work_street_address_2 work_street_address_2 work_street_address_2 work_street_address_2"
  "home_city home_city home_state home_zip home_zip work_city work_city work_state work_zip work_zip"
  "details details details details details details details details details details"
  "reset reset reset reset . . submit submit submit submit"
}

#avatar {
  grid-area: avatar;
  width: 60%;
  justify-self: center;
}

#name-title {
  grid-area: name_title;
}

#first-name-cell {
  grid-area: first_name;
}

#email-cell {
  grid-area: email;
}

#last-name-cell {
  grid-area: last_name;
}

#home-address-title {
  grid-area: home_address_title;
}

#work-address-title {
  grid-area: work_address_title;
}

#same-as-home-cell {
  grid-area: same_as_home;
  justify-content: flex-end;;
}

#home-street-address-cell {
  grid-area: home_street_address;
}

#work-street-address-cell {
  grid-area: work_street_address;
}

#home-street-address-2-cell {
  grid-area: home_street_address_2;
}

#work-street-address-2-cell {
  grid-area: work_street_address_2;
}

#home-city-cell {
  grid-area: home_city;
}

#work-city-cell {
  grid-area: work_city;
}

#home-state-cell {
  grid-area: home_state;
}

#work-state-cell {
  grid-area: work_state;
}

#home-zip-cell {
  grid-area: home_zip;
  min-width: 9.8rem;
}

#work-zip-cell {
  grid-area: work_zip;
  min-width: 9.8rem;
}

#details-cell {
  grid-area: details;
}

#reset {
  grid-area: reset;
}

#submit {
  grid-area: submit;
}

@media only screen and (max-width: 1505px) {
  #user-info {
    grid-template-columns: 1fr var(--base-x-13) 1fr;
    grid-template-areas:
    "name_title . ."
    "first_name first_name first_name"
    "last_name last_name last_name"
    "email email email"

    "home_address_title . . "
    "home_street_address home_street_address home_street_address"
    "home_street_address_2 home_street_address_2 home_street_address_2"
    "home_city home_state home_zip"

    "work_address_title . same_as_home"
    "work_street_address work_street_address work_street_address"
    "work_street_address_2 work_street_address_2 work_street_address_2"
    "work_city work_state work_zip"

    "details details details"
    "reset submit submit"
  }
}

@media only screen and (max-width: 832px) {
  #user-info {
    grid-template-columns: 1fr var(--base-x-13) 1fr;
    grid-template-areas:
    "name_title name_title name_title"
    "first_name first_name first_name"
    "last_name last_name last_name"
    "email email email"

    "home_address_title home_address_title home_address_title"
    "home_street_address home_street_address home_street_address"
    "home_street_address_2 home_street_address_2 home_street_address_2"
    "home_city home_city home_city"
    ". home_state ."
    "home_zip home_zip home_zip"

    "work_address_title work_address_title same_as_home"
    "work_street_address work_street_address work_street_address"
    "work_street_address_2 work_street_address_2 work_street_address_2"
    "work_city work_city work_city"
    ". work_state ."
    "work_zip work_zip work_zip"

    "details details details"
    "reset submit submit"
  }
}

