#user-info-form {
  display: grid;
  column-gap: var(--base-x-2);
  row-gap: var(--base-x-2);
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
  "name_title . . . . . . . . . avatar avatar"
  "first_name first_name first_name first_name first_name last_name last_name last_name last_name last_name avatar avatar"
  "email email email email email email email dob dob dob avatar avatar"
  "home_address_title home_address_title home_address_title . . . work_address_title work_address_title same_as_home same_as_home avatar avatar"
  "home_address home_address home_address home_address home_address home_address work_address work_address work_address work_address work_address work_address"
  "details details details details details details details details details details details details"
  "reset reset reset cancel cancel cancel submit submit submit submit submit submit"
}

#user-info-form #name-title {
  grid-area: name_title;
}

#user-info-form #first-name-cell {
  grid-area: first_name;
}
#user-info-form #last-name-cell {
  grid-area: last_name;
}
#user-info-form #email-cell {
  grid-area: email;
}
#user-info-form #dob-cell {
  grid-area: dob;
}

#user-info-form #avatar-cell {
  grid-area: avatar;
}

#user-info-form #home-address-title {
  grid-area: home_address_title;
}
#user-info-form #work-address-title {
  grid-area: work_address_title;
}
#user-info-form #same-as-home-cell {
  grid-area: same_as_home;
  justify-self: flex-end;
}

#user-info-form #home-address {
  grid-area: home_address;
}
#user-info-form #work-address {
  grid-area: work_address;
}

#user-info-form #details-cell {
  grid-area: details;
}

#user-info-form #reset-form {
  grid-area: reset;
}
#user-info-form #cancel {
  grid-area: cancel;
}
#user-info-form #submit {
  grid-area: submit;
}

@media only screen and (max-width: 1505px) {
  #user-info-form {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "avatar avatar avatar"
    "avatar avatar avatar"
    "avatar avatar avatar"
    "name_title . ."
    "first_name first_name first_name"
    "last_name last_name last_name"
    "email email email"

    "home_address_title . . "
    "home_address home_address home_address"

    "work_address_title . same_as_home"
    "work_address work_address work_address"

    "details details details"
    "reset cancel submit"
  }
}

@media only screen and (max-width: 832px) {
  #user-info-form {
    grid-template-areas:
    "avatar avatar avatar"
    "avatar avatar avatar"
    "avatar avatar avatar"
    "name_title name_title name_title"
    "first_name first_name first_name"
    "last_name last_name last_name"
    "email email email"

    "home_address_title home_address_title home_address_title"
    "home_address home_address home_address"

    "work_address_title work_address_title same_as_home"
    "work_address work_address work_address"

    "details details details"
    "reset cancel submit"
  }
}

