@import "FancyFormElements/fancy";

#user-info-form {
  width: 100%;

  &.invalid *:invalid {
    border: 1px solid var(--internationl-orange-engineering);
    box-shadow: var(--base-box-shadow);
  }

  #details-cell {
    #details {
      resize: vertical;
      border-radius: 1rem;
      min-height: var(--base-x-0_5);
      position: relative;

      &:read-only {
        resize: none;
        border-radius: 0;
      }
    }
  }

  #avatar-cell {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--faded-leather);
    box-shadow: none;

    &:focus,
    &:hover {
      box-shadow: var(--base-box-shadow);
    }

    &:active {
      box-shadow: initial;
    }

    #avatar {
      height: auto;
      width: 80%;
    }
  }

  &.read-only *,
  &.read-only #avatar-cell {
    box-shadow: none;
    cursor: initial;
  }

  #dob-cell {
    display: flex;
  }

  #dob {
    min-width: 50%;

    &:invalid {
      color: transparent;
    }

    &:focus {
      color: var(--void);
    }
  }

  #same-as-home-cell {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 8rem;
    height: 2rem;
    text-align: center;
    width: 100%;
    font-size: 1.4rem;

    #same-as-home {
      margin-left: 1rem;

      &:focus {
        outline: none;
        font-size: 1.6rem;
      }

      &:hover,
      &:focus {
        box-shadow: var(--base-box-shadow);
      }

      &:hover ~ #same-as-home-title,
      &:focus ~ #same-as-home-title {
        font-weight: bold;
        box-shadow: var(--base-box-shadow);
      }
    }

    &.read-only {
      opacity: 0;
    }
  }

  &:not(.read-only) *:required + label:after {
    content: '*';
    color: var(--internationl-orange-engineering);
  }
}

