#user-info-form .fancy {
  border-radius: 2rem;
  min-height: 4rem;
  position: relative;
  transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
}

#user-info-form .fancy .fancy-text {
  border: 1px solid rgba(30, 118, 224, 0.68);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  outline: none;
  padding: 1rem 2rem;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  position: absolute;
}

#user-info-form.read-only .fancy .fancy-text:read-only {
  border: none;
  border-bottom: 1px solid rgba(30, 118, 224, 0.68);
  box-shadow: none;
  border-radius: 0;
}
#user-info-form .fancy .fancy-text:disabled {
  background: var(--disabled-gray)
}

#user-info-form.invalid .fancy .fancy-text:invalid {
  border: 1px solid var(--internationl-orange-engineering)
}

#user-info-form .fancy .fancy-title {
  pointer-events: none;
  position: absolute;
  margin-left: 1.75rem;
  padding: 0 0.25rem;
  top: 1rem;
  font-weight: bold;
  opacity: 0.6;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#user-info-form.read-only .fancy .fancy-text:read-only ~ .fancy-title,
#user-info-form .fancy.not-empty .fancy-title,
#user-info-form .fancy .fancy-text:disabled ~ .fancy-title,
#user-info-form .fancy:not(.fancy-select) .fancy-text:read-only ~ .fancy-title,
#user-info-form .fancy.focus .fancy-title,
#user-info-form .fancy .fancy-text:focus ~ .fancy-title {
  opacity: 1;
  top: -1rem;
  background: linear-gradient(#00000000, #00000000),
  linear-gradient(#00000000, rgb(255, 255, 255), #00000000),
  linear-gradient(#00000000, #00000000);
}

#user-info-form #details {
  resize: vertical;
  border-radius: 1rem;
  min-height: var(--base-x-0_5);
  position: relative;
}

#user-info-form #details:read-only {
  resize: none;
  border-radius: 0;
}

#user-info-form #details-cell .fancy-title {
  position: absolute;
  z-index: 1;
}

#user-info-form .fancy .fancy-text:required .fancy-title:after {
  content: "*";
  color: var(--internationl-orange-engineering);
}

#avatar-cell {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--faded-leather);
}

#avatar {
  width: 55%;
}

#user-info-form.read-only .primary,
#user-info-form.read-only .secondary {
  display: none;
}