.menu {
  inset: auto;
  position-area: block-end span-inline-start;
  position-try-fallbacks: flip-block;
  margin: 0;
  width: var(--base-x-25);
  border: none;
  padding: 0;
  background: var(--paper);
  box-shadow: var(--base-box-shadow);

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
    height: var(--base-x-5);
    font-size: var(--base-x-2_5);
    color: var(--void);

    &:active {
      box-shadow: inset 0 0 5px var(--charcoal);
    }

    &:hover,
    &:focus {
      border: var(--hairline-x-2) solid var(--shadow);
    }

    &:not(:last-child) {
      border-bottom: var(--hairline) solid var(--charcoal);
    }

    &:first-child {
      border-top-right-radius: var(--radius-card);
      border-top-left-radius: var(--radius-card);
    }

    &:last-child {
      border-bottom-right-radius: var(--radius-card);
      border-bottom-left-radius: var(--radius-card);
    }
  }
}

@supports not (position-area: block-end) {
  .menu:popover-open {
    inset: 0;
    margin: auto;
    height: fit-content;
  }
}
