.menu {
  inset: auto;
  position-area: block-end span-inline-start;
  position-try-fallbacks: flip-block;
  width: var(--base-x-25);

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: none;
    border: none;
    height: var(--base-x-5);

    &:active {
      box-shadow: var(--press-glow-soft);
    }

    &:hover,
    &:focus {
      outline: var(--hairline-x-2) solid var(--shadow);
      outline-offset: calc(var(--hairline-x-2) * -1);
    }
  }

  .entry:not(:last-child) .item {
    border-bottom: var(--hairline) solid var(--charcoal);
  }

  .entry:first-child .item {
    border-top-right-radius: var(--radius-soft);
    border-top-left-radius: var(--radius-soft);
  }

  .entry:last-child .item {
    border-bottom-right-radius: var(--radius-soft);
    border-bottom-left-radius: var(--radius-soft);
  }
}

@supports not (position-area: block-end) {
  .menu:popover-open {
    inset: 0;
    margin: auto;
    height: fit-content;
  }
}
