#fancy-form {
  display: grid;
  column-gap: var(--base-x-2);
  row-gap: var(--base-x-2);
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
  "name_title . . . . ."
  "first_name first_name last_name last_name . ."
  "home_address_title . . work_address_title . same_as_home"
  "home_street_address home_street_address home_street_address work_street_address work_street_address work_street_address"
  "home_street_address_2 home_street_address_2 home_street_address_2 work_street_address_2 work_street_address_2 work_street_address_2"
  "home_city home_state home_zip work_city work_state work_zip"
  "details details details details details details"
  ". . . . submit submit"
}

#name-title {
  grid-area: name_title;
}

#first-name-cell {
  grid-area: first_name;
}
#last-name-cell {
  grid-area: last_name;
}

#home-address-title {
  grid-area: home_address_title;
}
#work-address-title {
  grid-area: work_address_title;
}

#same-as-home {
  grid-area: same_as_home;
  justify-content: flex-end;;
}

#home-street-address-cell {
  grid-area: home_street_address;
}
#work-street-address-cell {
  grid-area: work_street_address;
}

#home-street-address-2-cell {
  grid-area: home_street_address_2;
}
#work-street-address-2-cell {
  grid-area: work_street_address_2;
}

#home-city-cell {
  grid-area: home_city;
}
#work-city-cell {
  grid-area: work_city;
}

#home-state-cell {
  grid-area: home_state;
}
#work-state-cell {
  grid-area: work_state;
}

#home-zip-cell {
  grid-area: home_zip;
}
#work-zip-cell {
  grid-area: work_zip;
}

#submit {
  grid-area: submit;
}

#details-cell {
  grid-area: details;
}

@media only screen and (max-width: 1610px) {
  #fancy-form .address {
    display: flex;
    flex-direction: column;
  }
}

