.pagination {
  pointer-events: none;
  width: var(--base-x-50);
  background-color: var(--void);

  .fill {
    width: 100%;
    background-color: var(--paper);
  }

  #go-to-page {
    pointer-events: all;
    width: 8rem;

    #go-to {
      outline: none;
      height: 50%;
      border: none;
      padding: 0 0 0 var(--base);
    }

    #submit-page-number {
      height: 50%;
      border: none;
      padding: 0;
      font-size: var(--base-x-2);
      font-weight: bold;
      background-color: var(--paper);

      &:focus,
      &:hover {
        background: var(--mint)
      }
    }
  }

  .page {
    outline: none;
    pointer-events: all;
    background-color: var(--paper);
    font-weight: bold;

    &:active {
      box-shadow: inset 0 0 5px var(--void);
    }

    &:hover,
    &:focus {
      background: var(--mint);
    }

    &#next {
      margin: 0 0 0 var(--base);
    }

    &#prev {
      margin: 0 var(--base) 0 0;
    }

    &:first-of-type {
      margin: 0 var(--base) 0 0;
    }

    &:last-of-type {
      margin: 0 0 0 var(--base);
    }
  }
}
