.table-frame {
  --stage-block-size: auto;

  block-size: var(--stage-block-size);
  display: block;
  width: 100%;
  border: none;
}

.table-frame.veiled {
  position: absolute;
  inset-inline: 0;
  visibility: hidden;
}
