#users {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--base-x-2);
  row-gap: 4rem;
  grid-template-areas:
  "title button"
  "table table";
}

#users #title {
  grid-area: title;
  align-self: center;
}

#users #add-new-user {
  grid-area: button;
  justify-self: flex-end;
}

#users #users-table {
  grid-area: table;
}