#user-info {
  display: flex;
  flex-direction: column;
}
#user-info .title {
  align-self: flex-end;
}

#user-info.card {
  margin-bottom: var(--base-x-4);
}
#user-info.card:last-child {
  margin-bottom: 0;
}

.last-column {
  display: flex;
  justify-content: space-between;
}
.last-column .menu {
  outline: none;
  position: relative;
  width: 2rem;
  height: 2rem;
  background-image: radial-gradient(circle, black 0.2rem, transparent 0.1rem);
  background-size: 100% 33.33%;
}

.last-column .menu .menu-list {
  position: absolute;
  display: none;
  border-radius: 2rem;
}

.last-column .menu.open .menu-list,
.last-column .menu:hover .menu-list {
  display: inline-grid;
  z-index: 1;
  width: 20rem;
  right: 1rem;
  background: white;
  background: var(--paper);
}

.last-column .menu.open .menu-list .item,
.last-column .menu:hover .menu-list .item {
  height: 4rem;
  display: flex;
  font-size: 2rem;
  color: black;
  justify-content: center;
  align-items: center;
}

.last-column .menu .menu-list .item:focus {
  outline: none;
  border: 4px solid var(--mint);
}

#users #add-new-user {
  width: 50%;
}