#user-info {
  display: flex;
  flex-direction: column;
  margin: 0 0 var(--base);

  .title {
    align-self: flex-end;
  }
}

.users {
  padding: var(--base-x-2);
  width: 100%;
}

#user-candidates {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--base-x-2);
  row-gap: 4rem;
  grid-auto-rows: 4rem 1fr;
  grid-template-areas:
    "title button"
    "table table";

  .title {
    grid-area: title;
    align-self: center;
  }

  #add-new-user {
    grid-area: button;
    justify-self: flex-end;
    align-self: center;
  }

  #users-table {
    grid-area: table;
  }

  .last-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
