#user-info {
  display: flex;
  flex-direction: column;
}
#user-info .title {
  align-self: flex-end;
}

#user-info.card {
  margin-bottom: var(--base-x-4);
}
#user-info.card:last-child {
  margin-bottom: 0;
}