.piece {
  width: 100%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .loading.piece {
    display: none;
  }

  .piece {
    margin-bottom: var(--base-x-5);
  }
}