.art-work {
  height: 100%;

  &.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .piece {
    margin-bottom: var(--base-x-5);
    width: 100%;
    .loading {
      display: none;
    }
  }
}
