.tabs {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  min-height: var(--base-x-12);
  background-color: var(--void);

  .tab {
    margin-right: var(--base);
    background-color: var(--paper);
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0 -0.8rem 0 var(--void);
    overflow: auto;

    &:last-of-type {
      margin-right: 0;
    }

    &.current {
      box-shadow: none;
    }

    .path {
      padding: 0 var(--base-x-5);
    }
  }
}

@media (max-width: 832px) {
  .tabs {
    .tab {
      font-size: var(--base-x-1_5);
      padding: 0 var(--base);
    }
  }
}
