.tabs {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  min-height: var(--base-x-12);
  background-color: var(--void);

  .tab {
    margin-right: var(--base);
    background-color: var(--paper);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0 -0.8rem 0 var(--void);

    &:last-child {
      margin: 0;
    }

    &:focus-within,
    &:hover {
      background-color: var(--mint);
    }

    &.current {
      box-shadow: none;
    }

    .path {
      padding: 0 var(--base-x-5);
    }
  }
}

.pill-tabs {
  --chosen-color: var(--charcoal);
  --not-chosen-color: var(--paper);

  display: flex;
  border-radius: 8px;
  width: fit-content;

  .pill-tab {
    align-content: center;
    text-align: center;
    height: 4rem;
    width: 8rem;
    border: 1px solid var(--chosen-color);
    color: var(--chosen-color);
    background: var(--not-chosen-color);
    transition: font-size 0.2s;

    &:first-child {
      border-radius: 8px 0 0 8px;
    }

    &:last-child {
      border-radius: 0 8px 8px 0;
    }

    &:hover {
      background: var(--chosen-color);
      color: var(--not-chosen-color);
    }

    &:focus-within:has(:checked),
    &:hover:has(:checked) {
      outline: 1px solid var(--not-chosen-color);
      background: var(--chosen-color);
      color: var(--not-chosen-color);
      outline-offset: -4px;
    }

    &:has(:checked) {
      outline: 1px solid var(--chosen-color);
      outline-offset: -4px;
    }
  }
}

.pill-tabs-with-glider {
  --chosen-color: var(--charcoal);
  --not-chosen-color: var(--paper);
  outline: 2px solid var(--chosen-color);
  outline-offset: -2px;
  position: relative;
  display: flex;
  border-radius: 8px;
  width: fit-content;
  transition: background-color 0.3s;

  &:hover {
    background: rgba(55, 55, 55, 0.5);
  }

  .pill-tab-right,
  .pill-tab-left {
    position: relative;
    align-content: center;
    text-align: center;
    height: 4rem;
    width: 8rem;
    border-radius: 8px;
    background: transparent;
    transition: font-size 0.2s, color 0.3s 0.05s;

    &:has(:focus-visible) {
      font-size: 18px;
    }

    &:hover {
      color: white;
      transition: color 0.3s 0s;
    }

    &:has(:checked) {
      color: white;
    }
  }

  &:has(.pill-tab-left > input:checked) .glider {
    transform: translateX(0);
  }

  &:has(.pill-tab-right > input:checked) .glider {
    transform: translateX(100%);
  }

  .glider {
    border-radius: 8px;
    background: black;
    pointer-events: none;
    position: absolute;
    height: 4rem;
    width: 8rem;
    transition: transform 0.3s cubic-bezier(1, -0.8, .08, 1.4);
  }
}

@keyframes glider {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1000px) {
  .tabs {
    .tab {
      font-size: var(--base-x-2);
      padding: 0 var(--base);

      .path {
        padding: 0 var(--base);
      }
    }
  }
}
