:root {
  --tab-bar-reach: var(--base-x-10);
}

.tabs {
  position: sticky;
  top: var(--frame-reach, 0);
  z-index: 1;
  width: 100%;
  overflow-x: auto;

  .tab-list {
    display: flex;
    justify-content: flex-start;
    min-height: var(--tab-bar-reach);
  }

  .tab {
    margin-right: var(--base);
    display: flex;
    width: 100%;
    min-width: max-content;
    white-space: nowrap;
    flex-direction: column;
    justify-content: center;

    &:last-child {
      margin: 0;
    }

    .path {
      padding: 0 var(--base-x-5);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }
}

.tabs ~ * {
  isolation: isolate;
}

@media (width <= 1100px) {
  .tabs {
    .tab {
      padding: 0 var(--base);

      .path {
        padding: 0 var(--base);
      }
    }
  }
}

@media (width <= 1100px) and (height <= 600px) {
  :root {
    --tab-bar-reach: var(--base-x-5_5);
  }
}

:root:has(.tabs) {
  scroll-padding-block-start: calc(var(--frame-reach, 0px) + var(--tab-bar-reach) + var(--base-x-2));
}
