a.button,
button {
  height: var(--base-x-5);
  border-radius: var(--base-x-5);
  text-transform: uppercase;
  font-size: 1.8rem;
  box-shadow: 0 0 var(--base-x-0_5) #999;
  cursor: pointer;
  outline: none;
  padding: 0 var(--base-x-4);
  width: 100%;
  white-space: nowrap;
  font-weight: bold;

  &.primary {
    border: none;
    color: white;
    background: var(--primary-blue);
  }

  &.secondary {
    border: 0.1rem solid var(--primary-blue);
    background: var(--faded-leather);
  }

  &:hover {
    background: var(--primary-dark-blue);
  }

  &:hover,
  &:focus {
    box-shadow: var(--base-box-shadow);
  }

  &:hover,
  &:active {
    color: white;
  }

  &:active {
    box-shadow: none;
    background-color: var(--primary-dark-blue);
  }
}