a.button,
button {
  height: var(--base-x-5);
  width: 100%;
  padding: 0 var(--base-x-4);
  outline: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  white-space: nowrap;
  text-transform: uppercase;
  border-radius: var(--base-x-5);
  box-shadow: 0 0 var(--base-x-0_5) #999;
  border: 0.1rem solid var(--primary-blue);

  &.primary {
    color: white;
    background: var(--primary-blue);
  }

  &.secondary {
    background: var(--faded-leather);
  }

  &:hover,
  &:focus {
    box-shadow: var(--base-box-shadow);
  }

  &:hover,
  &:active {
    color: white;
    background-color: var(--primary-dark-blue);
  }

  &:active {
    box-shadow: initial;
  }
}