.top { margin-block: var(--base-x-2) auto; }
.middle { margin-block: auto; }
.bottom { margin-block: auto var(--base-x-2); }
.left { margin-inline: var(--base-x-2) auto; }
.center { margin-inline: auto; }
.right { margin-inline: auto var(--base-x-2); }
.path { display: flex; align-items: center; justify-content: center; }

.off-screen {
  position: absolute;
  right: 1000vw;
}

@media (prefers-reduced-motion: reduce) {
  .when-motion-allowed { display: none; }
}

@media not (prefers-reduced-motion: reduce) {
  .when-less-motion { display: none; }
}

.stand-in {
  display: block;
  margin: auto;
  padding: var(--base-x-5);
}

.stick-to-bottom {
  position: sticky;
  bottom: 0;
}
