

.off-screen {
  position: absolute;
  right: 1000vw;
}




::view-transition {
  pointer-events: none;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}


.signpost {
  display: inline;
  width: auto;
  height: auto;
  color: var(--primary-blue);
  text-decoration: underline;

  &:visited {
    color: var(--plum);
  }

  &:hover,
  &:focus-visible {
    color: var(--primary-dark-blue);
  }
}
