.card {
  background: var(--paper);
  border-radius: 2rem;
  box-shadow: var(--base-box-shadow);
  padding: var(--base-x-4);
  overflow: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.off-screen {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.rounded-corners {
  border-radius: 2rem;
}

.gutter {
  padding: var(--base-x-4);
}