.card {
  border-radius: 2rem;
  background: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overflow {
  overflow: auto;
}

.off-screen {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.gutter {
  padding: var(--base-x-4);
}