.card {
  width: 100%;
  background: var(--paper);
  border-radius: var(--radius-card);
  box-shadow: var(--base-box-shadow);
  padding: var(--base-x-4);
  overflow: auto;
}


.off-screen {
  position: absolute;
  right: 1000vw;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


@media (max-width: 1000px) {
  .card {
    padding: var(--base-x-2) var(--base-x-0_5);
  }
}


::view-transition {
  pointer-events: none;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}


.signpost {
  display: inline;
  width: auto;
  height: auto;
  color: var(--primary-blue);
  text-decoration: underline;

  &:visited {
    color: var(--plum);
  }

  &:hover,
  &:focus-visible {
    color: var(--primary-dark-blue);
  }
}
