.paper { background: var(--paper); }

.white { background: var(--white); }

.silk { background: var(--silk); }

.rounded-corners { border-radius: var(--radius); }

.drop-shadow { box-shadow: var(--light-box-shadow); }

.raised { box-shadow: var(--raised); }
.bare { appearance: none; }

.pressable {
  &:hover,
  &:focus {
    color: var(--white);
    background-color: var(--primary-dark-blue);
  }
}

.hairline-outline { border: var(--hairline) solid currentcolor; }

.alarm-ink { color: var(--alarm-ink); }

.padded {
  padding: var(--base-x-4);

  @media (max-width: 1000px) {
    padding: var(--base-x-2) var(--base-x-0_5);
  }
}
