.paper { background: var(--paper); }

.silk { background: var(--silk); }

.rounded-corners { border-radius: var(--radius-soft); }

.drop-shadow { box-shadow: var(--drop-shadow); }

.raised { box-shadow: var(--raised); }

.hairline-outline { border: var(--hairline) solid currentcolor; }

.padded {
  padding: var(--base-x-4);

  @media (max-width: 1000px) {
    padding: var(--base-x-2) var(--base-x-0_5);
  }
}
