.pagination {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  #go-to-page {
    pointer-events: all;
    width: var(--base-x-10);

    .control {
      width: 100%;
    }

    #go-to {
      height: 4rem;
      border-radius: 2rem 2rem 0 0;
      padding-left: 1rem;
      outline: none;
    }

    #submit-page-number {
      border-radius: 0 0 2rem 2rem;
      border: 1px solid var(--void);
      padding: 0;
      background: var(--paper);

      &:hover {
        color: inherit;
        background: var(--mint)
      }
    }
  }

  .page {
    background: var(--paper);
    width: var(--base-x-10);
    height: var(--base-x-5);
    outline: none;
    font-weight: bold;
    pointer-events: all;

    &:active {
      box-shadow: inset 0 0 5px var(--void);
    }

    &:hover,
    &:focus {
      background: var(--mint);
    }

    &#prev,
    &#next {
      border-radius: initial;
    }

    &#next {
      margin-left: var(--base-x-0_5);
    }

    &#prev {
      margin-right: var(--base-x-0_5);
    }


    &:first-child {
      border-top-left-radius: var(--base-x-5);
      border-bottom-left-radius: var(--base-x-5);
      border-right: 1px solid var(--void);
    }

    &:last-child {
      border-top-right-radius: var(--base-x-5);
      border-bottom-right-radius: var(--base-x-5);
      border-left: 1px solid var(--void);
    }
  }
}


@media (max-width: 832px) {
  .pagination {
    width: 100%;
  }
}
