.candles {

  .candlesticks {
    display: block;
    width: 100%;
    height: var(--base-x-32_5);
    padding: var(--base) 0 var(--base-x-0_5);

    .wick {
      stroke: var(--charcoal);
      stroke-width: var(--hairline);
      vector-effect: non-scaling-stroke;
    }

    .up .body {
      fill: var(--mint-shade);
    }

    .down .body {
      fill: var(--internationl-orange-engineering);
    }
  }

  .volumes {
    display: block;
    width: 100%;
    height: var(--base-x-7_5);
    margin-top: var(--base-x-0_5);
    padding: var(--base) 0 var(--base-x-0_5);

    .volume {
      fill: var(--faded-leather);
    }
  }

}
