.sortable-list {
    height: fit-content;

    .item {
        width: 100%;
        position: relative;
    }

    .draggable {
        max-width: var(--base-x-40);
        padding: var(--base-x-4);
        padding-top: var(--base);
        border-radius: 2rem;
        background: var(--paper);
        border: 1px solid black;
        opacity: 1;
        transition: opacity 50ms;

        &:has(.grip:hover) {
            box-shadow: 0 10px 14px rgba(0, 0, 0, 0.12);
        }

        &.hide {
            opacity: 0.1%;
        }
    }

    &.dragging {
        box-shadow: none;
        transform: translate(0, 0);
        display: inline-block;
    }

    .value {
        height: 100%;
        width: 100%;
        font-size: 8rem;
    }

    .grip {
        width: 2rem;
    }
}