.sortable-list {
    height: fit-content;

    .item {
        width: 100%;
    }

    .draggable {
        width: 100%;
        padding: var(--base-x-4);
        padding-top: var(--base);
        border-radius: 2rem;
        background: var(--paper);
        border: 1px solid black;

        &.visible {
            transition: opacity 50ms;
            opacity: 1;
        }

        &.invisible {
            opacity: 0.1%;
        }

        .dragging {
            display: inline-block;
        }
    }

    .value {
        height: 100%;
        width: 100%;
        font-size: 8rem;
    }

    .grip {
        width: 2rem;
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }
}