.aggregations {
  position: relative;
  overflow-x: auto;
  overscroll-behavior-x: contain;

  .fancy-table:not(.column-ghost) {
    table-layout: fixed;
    width: 100%;
    min-width: 86rem;
  }

  .window { width: 17.5%; }
  .trades { width: 13%; }
  .buys { width: 11.5%; }
  .sells { width: 11.5%; }
  .volume { width: 14%; }
  .vwap { width: 17.5%; }
  .change { width: 15%; }
}

@media (max-width: 600px) {
  .aggregations {
    .fancy-table:not(.column-ghost) {
      min-width: 64rem;
    }

    .cell {
      padding: var(--base-x-0_75);
    }
  }
}
