#root {
  display: block;
  min-height: 100vh;
  background-color: var(--void);
  width: 100%;

  #app-header {
    background-color: var(--paper);

    .app-title {
      width: 100%;
      font-size: var(--base-x-4);
      font-weight: bold;
    }
  }
  #side-nav {
    background-color: var(--paper);
    min-height: 100%;

    #app-navigation {
      position: sticky;
      top: -1px;
      width: 100%;
      background-color: var(--void);
      display: flex;
      flex-direction: column;
      gap: var(--base);

      .path {
        font-size: var(--base-x-4);
        font-weight: bold;
        background-color: var(--paper);
        height: var(--base-x-8);
        width: 100%;

        &:focus,
        &:hover {
          background-color: var(--mint);
        }
      }
    }

    .icons {
      position: sticky;
      bottom: 0;
      padding: var(--base);
      font-size: var(--text-caption);

      .icons-content {
        padding: 0;
      }

      .title {
        cursor: pointer;
      }

      .attribution {
        height: unset;
      }

      .attribution:focus {
        color: var(--internationl-orange-engineering);
      }
    }
  }

  .app-main {
    padding: var(--base-x-5);
    background-color: var(--paper);
    height: fit-content;

    &.in-view {
      padding: 0;
      height: 100%;
    }
  }

  #filter {
    background-color: var(--paper);
    width: var(--base-x-16_5);
  }

  #app-footer {
    background-color: var(--paper);
  }
}

.stick-to-bottom {
  position: sticky;
  bottom: 0;
}

@media (max-width: 1547px) {
  #root {
    #app-header {
      padding-left: var(--base-x-5);
    }

    #filter {
      background-color: var(--paper);
    }
  }
}

@media (max-width: 1000px) {
  #root {
    #app-header {
      padding: 0 var(--base-x-2_5);

      #gallery-search {
        width: 100%;
        height: inherit;
      }
    }

    .app-main {
      padding: var(--base);
      overflow: auto;
      height: auto;
    }

    #filter {
      bottom: unset;
      top: unset;
      right: unset;
      position: relative;
      width: 100%;
      margin: 0;
      height: fit-content;
    }

    #app-footer {
      height: var(--base-x-10);
    }

    #side-nav {
      width: 100%;
      display: flex;
      align-items: center;

      #app-navigation {
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        padding: 0;
        background-color: var(--paper);

        .path {
          font-size: var(--text-title);
          margin-bottom: 0;
          height: unset;
          width: fit-content;
        }
      }

      .borrowed-assets {
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
}

