.image {
  width: 100%;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: var(--base-x-5);
  width: 100%;
  height: var(--base-x-25);
}