.new-accordion {
  .fold {
    &::details-content {
      block-size: 0;
      overflow: hidden;
      transition:
        block-size .3s ease-in-out,
        content-visibility .3s allow-discrete;
    }

    &[open]::details-content {
      block-size: auto;
    }

    .info-label {
      display: flex;
      padding: var(--base-x-2);
      align-items: center;
      list-style: none;
      color: var(--field);
      background: var(--field-inverse);
      border: var(--hairline) solid var(--field);
    }

    .info {
      padding: var(--base-x-2);
    }
  }

  .grid-fold {
    overflow: hidden;
    display: grid;
    grid-template-rows: min-content;

    .fold-clip {
      overflow: hidden;
      display: grid;
      grid-template-rows: 0fr;
    }

    .fold-clip-item {
      display: block;
      min-height: 0;
    }

    .fold-text {
      display: block;
      padding: var(--base-x-2);
    }

    &:has(:checked) .fold-clip {
      grid-template-rows: 1fr;
    }

    &.drawer {
      .fold-clip {
        align-content: end;
      }

      .fold-clip-item {
        align-self: end;
      }
    }

    .info-label::before {
      content: 'Open';
    }

    &:has(:checked) .info-label::before {
      content: 'Close';
    }

    .info-header {
      display: grid;
      grid-template-columns: 1fr min-content;
      background: var(--field-inverse);
      border: var(--hairline) solid var(--field);
      padding: var(--base);
      align-items: center;
      color: var(--field);
    }

    .info-label {
      width: fit-content;
      padding: var(--base);
      border: var(--hairline) solid var(--field);
      display: flex;
      align-items: center;
      color: var(--field);

      &:hover {
        background: var(--field);
        outline: var(--hairline) solid var(--ring);
        outline-offset: calc(var(--hairline-x-3) * -1);
        color: var(--field-inverse);
      }

      &:active {
        background: var(--field-inverse);
        color: var(--field);
      }

      &:active,
      &:has(input:focus-visible) {
        outline: var(--hairline) solid var(--field);
        outline-offset: calc(var(--hairline-x-3) * -1);
      }
    }

  }
}

.accordion {
  background: var(--trim);
  .fold {
    overflow: hidden;
    margin-bottom: var(--hairline);

    &.close {
      height: var(--base-x-5);
      background: var(--field-inverse);
      display: flex;
      justify-content: center;
      align-items: center;

      .info-label {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--field);
      }
    }

    &:not(.close) .info-label {
      display: flex;
      height: var(--base-x-6_25);
      padding: 0 var(--base-x-4);
      justify-content: space-between;
      align-items: center;
      color: var(--field);
      background: var(--field-inverse);

      &::after {
        content: "";
        width: var(--base);
        height: var(--base);
        border-right: var(--hairline-x-2) solid var(--field);
        border-top: var(--hairline-x-2) solid var(--field);
        transform: rotate(45deg);
        margin-right: var(--base);
      }
    }

    .info {
      overflow: hidden;
      max-height: var(--base-x-100);
      margin-top: var(--base-x-4);
      transition: max-height 500ms ease, opacity 500ms ease, transform 500ms ease, margin-top 500ms ease, padding-bottom 500ms ease;
      padding: 0 var(--base-x-4) var(--base-x-4);
    }

    @media (hover: hover) {
      .info-toggle:hover ~ .info-label {
        background: var(--approach);
        color: var(--ink);

        &::after {
          border-color: var(--ink);
        }
      }
    }

    .info-toggle:focus-visible ~ .info-label {
      background: var(--approach);
      color: var(--ink);
      outline: var(--hairline-x-2) solid var(--ring);
      outline-offset: calc(var(--hairline-x-2) * -1);

      &::after {
        border-color: var(--ink);
      }
    }

    &:not(.close) .info-toggle ~ .info-label::after {
      transition: transform 500ms ease;
    }

    .info-toggle:checked ~ .info-label::after {
      transform: rotate(135deg);
    }

    .info-toggle:not(:checked) ~ .info {
      margin-top: 0;
      max-height: 0;
      opacity: 0;
      padding-bottom: 0;
      transform: translate(0, 50%);
      transition: max-height 250ms ease, opacity 250ms ease, transform 250ms ease, margin-top 250ms ease, padding-bottom 250ms ease;
    }
  }
}

.inclusive-accordion,
.exclusive-accordion,
.inclusive-toggle-accordion,
.exclusive-toggle-accordion {
  display: flex;
  flex-direction: column;
  gap: var(--base-x-1_25);
}

.toggle-accordion {
  display: flex;
  flex-direction: column;
  gap: var(--base-x-1_25);

  &:has(.pill-glider [value='animated']:checked) .grid-fold .fold-clip {
    transition: grid-template-rows .3s ease-in-out;
  }

  .build-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--base);
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}