@property --measured-height {
  syntax: '<length> | auto';
  inherits: true;
  initial-value: auto;
}

.new-accordion {
  .fold {
    &::details-content {
      block-size: 0;
      overflow: hidden;
    }

    &[open]::details-content {
      block-size: auto;
    }

    :is(.reveal, .drawer) &::details-content {
      transition:
        block-size .3s ease-in-out,
        content-visibility .3s allow-discrete;
    }

    .drawer &::details-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .info-label {
      display: flex;
      padding: var(--base-x-2);
      justify-content: space-between;
      align-items: center;
    }

    &[open] > .info-label::after {
      transform: rotate(135deg);
    }

    :is(.reveal, .drawer) & > .info-label::after {
      transition: transform 500ms ease;
    }

    .info {
      flex-shrink: 0;
      padding: var(--base-x-2);
    }
  }

  .grid-fold {
    overflow: hidden;
    display: grid;
    grid-template-rows: min-content;

    .fold-clip {
      overflow: hidden;
      display: grid;
      grid-template-rows: 0fr;
    }

    .fold-clip-item {
      display: block;
      min-height: 0;
    }

    .fold-text {
      display: block;
      padding: var(--base-x-2);
    }

    &:has(:checked) .fold-clip {
      grid-template-rows: 1fr;
    }

    .fold-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--base);
    }

    .fold-control {
      padding: var(--base);
    }

    &:has(:checked) .when-closed {
      display: none;
    }

    &:not(:has(:checked)) .when-open {
      display: none;
    }
  }
}

.accordion {
  .fold {
    overflow: hidden;
    margin-bottom: var(--hairline);

    &.close {
      height: var(--base-x-5);
      display: flex;
      justify-content: center;
      align-items: center;

      .info-label {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &:not(.close) .info-label {
      display: flex;
      height: var(--base-x-6_25);
      padding: 0 var(--base-x-4);
      justify-content: space-between;
      align-items: center;
    }

    .info,
    .info-text {
      height: 10lh;
    }

    .info {
      overflow: hidden;
    }

    .info-text {
      overflow-y: auto;
    }

    .info-paragraph {
      box-sizing: border-box;
      min-height: 100%;
      padding: var(--base-x-4);
    }

    :is(.reveal, .drawer) & .info {
      transition: height .3s ease-in-out, visibility .3s;
    }

    .drawer & .info {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .drawer & .info-text {
      flex-shrink: 0;
    }

    .info-measured {
      overflow: hidden;
      interpolate-size: numeric-only;
    }

    :is(.reveal, .drawer) & .info-measured {
      transition: height .3s ease-in-out, visibility .3s;
    }

    .drawer & .info-measured {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .info-paragraph {
        flex-shrink: 0;
      }
    }

    .info-toggle:checked ~ .info-label::after {
      transform: rotate(135deg);
    }

    :is(.reveal, .drawer) &:not(.close) .info-toggle ~ .info-label::after {
      transition: transform 500ms ease;
    }

    .info-toggle:not(:checked) ~ .info {
      height: 0;
      visibility: hidden;
    }

    .info-toggle:not(:checked) ~ .info-measured {
      height: 0;
      visibility: hidden;
    }

    .info-toggle ~ .info-measured.sized {
      height: var(--measured-height);
    }

    .info-toggle ~ .info-measured.unmoving {
      transition-property: visibility;
    }
  }
}

.inclusive-accordion,
.exclusive-accordion,
.inclusive-toggle-accordion,
.exclusive-toggle-accordion {
  display: flex;
  flex-direction: column;
  gap: var(--base-x-1_25);
}

.toggle-accordion {
  display: flex;
  flex-direction: column;
  gap: var(--base-x-1_25);

  &:is(.reveal, .drawer) .grid-fold .fold-clip {
    transition: grid-template-rows .3s ease-in-out;
  }

  &.drawer .grid-fold {
    .fold-clip {
      align-content: end;
    }

    .fold-clip-item {
      align-self: end;
    }
  }
}

.opening-arrow::after {
  content: "";
  width: var(--base);
  height: var(--base);
  transform: rotate(45deg);
  margin-right: var(--base);
}

.static .fold::details-content {
  transition: none;
}
