.promises {
  border-collapse: collapse;

  .promises-title {
    text-align: start;
  }

  .promise {
    padding: var(--base-x-0_5) var(--base);
    border-block-end: var(--hairline) solid var(--charcoal);
    text-align: start;
  }
}
