.pagination {
  pointer-events: none;
  max-width: var(--base-x-50);
  width: 100%;
  height: 100%;
  background-color: var(--void);

  #info,
  .fill-left,
  .fill-right {
    width: 100%;
    background-color: var(--paper);
  }

  #info {
    pointer-events: all;
    text-align: center;
    width: var(--base-x-10_5);
  }

  .page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    outline: none;
    pointer-events: all;
    background-color: var(--paper);
    font-weight: bold;

    &:active {
      box-shadow: var(--press-glow);
    }

    &:hover,
    &:focus {
      background: var(--mint);
    }
  }
}
