#art-gallery {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto;
  align-items: start;
  grid-template-areas:
    "field field field field"
    "field field field field"
    "field field field field";

  .loader,
  #empty-gallery {
    grid-area: field;
    align-self: center;
    justify-self: center;
  }
}

@media (max-width: 1024px) {
  #art-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "field field"
      "field field"
      "field field"
      "nav nav";
  }
}

@media (max-width: 832px) {
  #art-gallery {
    grid-template-columns: 1fr;
    grid-template-areas:
      "field"
      "field"
      "field"
      "nav";
  }
}
