.art-work {
  padding: var(--base-x-5);
  height: 100%;
  width: 100%;

  .piece {
    margin-bottom: var(--base-x-5);
    width: 100%;

    .loading {
      display: none;
    }
  }

  .artist-display {
    text-align: center;
  }
}
