#z-index-demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .demo-container {
        width: 100%;
        position: relative;
        min-height: 8rem;
        display: flex;
        gap: 1rem;
        justify-content: end;
        flex-direction: column;

        .card {
            padding: 2rem;
            position: relative;
            transition: bottom 0.3s;
        }

        .closed {
            position: absolute;
            transition: transform 0.5s ease-in-out;
        }

        &:hover .closed {
            &:first-child {
                transform: rotate(12deg);
            }

            &:nth-child(2) {
                transform: rotate(6deg);
            }
        }
    }
}
