.search {
  display: grid;
  inline-size: 100%;
  block-size: 100%;
  column-gap: var(--base);
  grid-template-columns: auto var(--base-x-8) var(--base-x-8);
  grid-template-rows: 40% 1fr;
  grid-template-areas:
    'query-label reset submit'
    'query reset submit';

  .query-label {
    grid-area: query-label;
    min-block-size: var(--base-x-4);
    padding: 0 var(--base-x-2);
    padding-block-start: calc((var(--base-x-4) - 1lh) / 2);
  }

  .query {
    grid-area: query;
    padding: 0 var(--base-x-2);
  }

  .reset-query {
    grid-area: reset;
  }

  .submit-query {
    grid-area: submit;
  }
}

.search-form {
  display: contents;
}

@media (width <= 1100px) {
  .search {
    column-gap: unset;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto var(--base-x-5) minmax(var(--base-x-5), auto);
    grid-template-areas:
      'query-label query-label'
      'query query'
      'reset submit';

    .submit-query {
      margin-left: var(--base);
    }
  }
}
