.axes {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'y chart'
    '. x';
  column-gap: var(--base-x-1);

  .y-labels {
    grid-area: y;
    min-width: 6.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.1rem;
    color: var(--charcoal);
    opacity: 0.8;
  }

  .chart-area {
    grid-area: chart;
    min-width: 0;

    svg {
      padding: 0.8rem 0 0.4rem;
      box-sizing: border-box;
    }
  }

  .x-labels {
    grid-area: x;
    position: relative;
    height: 1.6rem;
    font-size: 1.1rem;
    color: var(--charcoal);
    opacity: 0.8;
    margin-top: 0.2rem;

    time {
      position: absolute;
      transform: translateX(-50%);
      white-space: nowrap;
    }
  }
}
