.sortable-list {
    height: fit-content;

    .item {
        width: 100%;
        position: relative;
    }

    .draggable {
        max-width: var(--base-x-40);
        padding: var(--base-x-4);
        padding-top: var(--base);
        border-radius: var(--radius-card);
        background: var(--paper);
        border: var(--hairline) solid var(--black);
        opacity: 1;
        transition: opacity 50ms;

        &:has(.grip:hover) {
            box-shadow: var(--lift-box-shadow);
        }

        &.hide {
            opacity: 0.1%;
        }
    }

    .value {
        height: 100%;
        width: 100%;
        font-size: var(--base-x-10);
    }

    .grip {
        width: var(--base-x-2_5);
    }
}