#z-index-demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--base-x-1_25);

    .demo-container {
        width: 100%;
        position: relative;
        min-height: var(--base-x-10);
        display: flex;
        gap: var(--base-x-1_25);
        justify-content: end;
        flex-direction: column;

        .card {
            padding: var(--base-x-2_5);
            position: relative;
            transition: bottom 0.3s;
        }

        .closed {
            position: absolute;
            transition: transform 0.5s ease-in-out;
        }

        &:hover .closed {
            &:first-child {
                transform: rotate(12deg);
            }

            &:nth-child(2) {
                transform: rotate(6deg);
            }
        }
    }
}

.top-layer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--base-x-1_25);
    padding-block: var(--base-x-2_5);

    .pitch {
        text-align: center;
    }

}
