.stacking-part {
    display: grid;
    gap: var(--base-x-3);
}

.natural-z-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--base-x-1_25);

    .demo-container {
        width: 100%;
        position: relative;
        min-height: var(--base-x-10);
        display: flex;
        gap: var(--base-x-1_25);
        justify-content: end;
        flex-direction: column;

        .layer {
            width: 100%;
            padding: var(--base-x-2_5);
            position: relative;
            transition: bottom 0.3s;
        }

        .closed {
            position: absolute;
            transition: transform 0.5s ease-in-out;
        }

        .raised {
            z-index: 1;
        }

        &:hover .closed {
            &:first-child {
                transform: rotate(12deg);
            }

            &:nth-child(2) {
                transform: rotate(6deg);
            }
        }
    }
}


:is(.trapped-menu, .banner-trap) {
    display: grid;
    gap: var(--base-x-1_25);

    .context-choice {
        display: flex;
        align-items: center;
        gap: var(--base);
    }

    .old-way-cards {
        display: grid;
        gap: var(--base-x-2_5);
        padding-block-end: var(--base-x-7);
    }

    .old-way-card {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--base);
        padding: var(--base-x-1_25);

        .paragraph {
            flex-basis: 100%;
        }

        .button {
            max-inline-size: 100%;
            padding-block: var(--base-x-0_5);
            white-space: normal;
        }
    }

    .forms-context {
        z-index: 1;
    }

    .sort-choices {
        position: absolute;
        z-index: 9999;
        inset-block-start: calc(100% - var(--base-x-1_25));
        inset-inline-start: var(--base-x-1_25);
        min-width: var(--base-x-20);
    }

    .sort-choice {
        display: block;
        inline-size: 100%;
        padding: var(--base) var(--base-x-2);
        text-align: start;
    }
}

.old-banner {
    position: fixed;
    inset-inline: var(--base-x-2);
    inset-block-end: var(--base-x-2);
    z-index: 9999;
    display: flex;
    align-items: center;
    gap: var(--base);
    padding: var(--base) var(--base-x-2);

    .dismiss {
        margin-inline-start: auto;
    }
}
