.fancy-table {
  border-collapse: separate;
  border-spacing: 0;

  .cell {
    border-right: var(--hairline) solid var(--charcoal);
    padding: var(--base-x-1_25);
    border-top: none;

    &:last-child {
      border-right: none;
    }
  }

  .column-name {
    position: relative;
  }

  .header .column-name {
    border-bottom: var(--hairline-x-3) solid var(--charcoal);
  }

  .body .cell {
    border-bottom: var(--hairline) solid var(--charcoal);
  }

  .body .row {
    position: relative;
    right: 0;

    &:hover {
      background: var(--mint);
    }

    &:last-child .cell {
      border-bottom: none;
    }
  }

  .slot {
    padding: 0;
  }
}

.slot-grid {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  column-gap: var(--base);
  height: 100%;
  padding: var(--base-x-1_25);
  padding-inline-end: 0;
}

.resize-handle {
  appearance: none;
  border: none;
  padding: 0;
  background: none;
  position: relative;
  align-self: stretch;
  cursor: col-resize;
  touch-action: none;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: var(--base);
    height: 100%;
  }

  &:focus {
    outline: none;

    &::after {
      background: var(--faded-mint);
    }
  }

  &:hover::after {
    background: var(--faded-leather);
  }
}

.apportioned {
  .slot.shared {
    --share: 0;

    width: var(--share);
  }
}

.clipped {
  overflow: hidden;
  overflow-wrap: break-word;
}
