.fancy-table {
  border-collapse: collapse;

  .header .row {
    border-bottom: 0.3rem solid var(--charcoal);
  }

  .body .row {
    border-bottom: 0.1rem solid var(--charcoal);
    position: relative;
    right: 0;

    &:hover {
      background: var(--mint);
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .column-name {
    text-align: start;
  }

  .cell {
    border-right: 0.1rem solid var(--charcoal);
    padding: 1rem;
    border-top: none;

    &:last-child {
      border-right: none;
    }
  }
}
