.fancy-table {
  border-collapse: separate;
  border-spacing: 0;

  .cell {
    border-right: var(--hairline) solid var(--charcoal);
    padding: var(--base-x-1_25);
    border-top: none;

    &:last-child {
      border-right: none;
    }
  }

  .header .column-name {
    border-bottom: var(--hairline-x-3) solid var(--charcoal);
  }

  .body .cell {
    border-bottom: var(--hairline) solid var(--charcoal);
  }

  .body .row {
    &:hover {
      background: var(--mint);
    }

    &:last-child .cell {
      border-bottom: none;
    }
  }

  .header-cell {
    padding: 0;
  }
}

.header-cell-content {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  column-gap: var(--base);
  min-height: var(--base-x-5);
  padding-inline-start: var(--base-x-1_25);
}

.resize-handle {
  border: none;
  padding: 0;
  background: none;
  position: relative;
  align-self: stretch;
  cursor: col-resize;
  touch-action: none;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: var(--base);
    height: 100%;
  }

  &:focus {
    outline: none;

    &::after {
      background: var(--faded-mint);
    }
  }

  &:hover::after {
    background: var(--faded-leather);
  }
}

.apportioned {
  .header-cell.shared {
    --share: 0;

    width: var(--share);
  }
}

.clipped {
  overflow: hidden;
  overflow-wrap: break-word;
}
