#art-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 100%;

  .card {
    display: table;
    margin: 0 0 var(--base-x-5);
    background: var(--faded-leather);
    outline: none;
    height: fit-content;
    transition: background .35s ease;

    &:focus,
    &:hover,
    & .loading {
      background: var(--faded-mint);
    }

    .loading {
      width: 20rem;
      height: 20rem;
    }

    .title {
      display: table-caption;

      caption-side: top;
      text-align: center;
      width: 100%;
      color: var(--paper);
    }
  }

  .pagination {
    position: sticky;
    bottom: 0;
    height: var(--base-x-10);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--base-x-5);
    align-self: flex-end;

    .page {
      background: var(--paper);
      width: var(--base-x-10);
      height: var(--base-x-5);
      outline: none;
      font-weight: bold;

      &:active {
        box-shadow: inset 0 0 5px var(--void);
      }

      &:hover,
      &:focus {
        background: var(--mint);
      }

      &#prev,
      &#next {
        border-radius: initial;
      }

      &#next {
        margin-left: var(--base-x-0_5);
      }

      &#prev {
        margin-right: var(--base-x-0_5);
      }


      &:first-child {
        border-top-left-radius: var(--base-x-5);
        border-bottom-left-radius: var(--base-x-5);
        border-right: 1px solid var(--void);
      }

      &:last-child {
        border-top-right-radius: var(--base-x-5);
        border-bottom-right-radius: var(--base-x-5);
        border-left: 1px solid var(--void);
      }
    }
  }
}