#art-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .card {
    margin-bottom: var(--base-x-5);
    background: var(--faded-leather);
    outline: none;
    height: fit-content;
    transition: background .5s ease;

    &:focus,
    &:hover,
    &.loading {
      background: var(--faded-mint);
    }

    &.loading {
      width: 20rem;
      height: 20rem;
    }
  }
}