#art-gallery {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto;
  align-items: start;
  grid-template-areas:
  "field field field field"
  "field field field field"
  "field field field field"
          ". nav nav .";

  .pagination {
    grid-area: nav;
  }

  .loader {
    grid-area: field;
  }

  #empty-gallery {
    display: block;
    margin: auto;
    grid-area: field;
  }
}

@media (max-width: 1024px) {
  #art-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
  "loading loading"
  "loading loading"
  "loading loading"
          "nav nav";

  }
}

@media (max-width: 832px) {
  #art-gallery {
    grid-template-columns: 1fr;
    grid-template-areas:
        "loading"
        "loading"
        "loading"
          "nav";
  }
}