#art-gallery {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto;
  align-items: start;
  grid-template-areas:
  "loading loading loading loading"
  "loading loading loading loading"
  "loading loading loading loading"
          ". nav nav .";

  .pagination {
    grid-area: nav;
  }

  .loader {
    grid-area: loading;
  }
}
