#art-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .card {
    display: table;
    margin: 0 0 var(--base-x-5);
    background: var(--faded-leather);
    outline: none;
    height: fit-content;
    transition: background .35s ease;

    &:focus,
    &:hover,
    & .loading {
      background: var(--faded-mint);
    }

    .loading {
      width: 20rem;
      height: 20rem;
    }

    .title {
      display: table-caption;
      caption-side: top;
      text-align: center;
      width: 100%;
      color: var(--paper);
    }
  }

  .pagination {
    position: sticky;
    bottom: 0;
    height: var(--base-x-10);
    width: 100%;
    display: flex;
    justify-self: center;
    background-color: rgba(14, 11, 22, .35);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 100px  rgba(14, 11, 22, .35);
    filter: blur(10px);
    border-radius: var(--base-x-5);
  }
}