#root {
  display: grid;
  grid-template-columns:
    var(--base-x-16_5)
    var(--base-x-16_5)
    1fr
    var(--base-x-16_5)
    var(--base-x-16_5);
  grid-template-rows: var(--base-x-12) 1fr var(--base-x-12);
  grid-template-areas:
    "header header header header filter"
    "nav . main . filter"
    "nav footer footer footer footer";

  #app-header {
    grid-area: header;
    display: grid;
    grid-template-columns:
      var(--base-x-16_5)
      var(--base-x-16_5)
      1fr
      1fr
      var(--base-x-16_5);
    grid-template-areas: ". . title title search";

    .title {
      grid-area: title;
      align-self: center;
    }

    #gallery-search {
      grid-area: search;
      justify-self: flex-end;
    }
  }

  #side-nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .icons {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  main {
    grid-area: main;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    &.gallery-in-view {
      justify-content: space-between;
    }
  }

  #filter {
    grid-area: filter;
    display: flex;
    align-items: flex-end;
  }

  #app-footer {
    grid-area: footer;
    display: grid;
    justify-items: center;
    grid-template-columns:
      var(--base-x-16_5)
      1fr
      var(--base-x-16_5) var(--base-x-16_5);
    grid-template-areas: ". center . .";

    #gallery-nav {
      grid-area: center;
    }
  }
}

@media (max-width: 1366px) {
  #root {
    grid-template-columns: 13.4rem 1fr 13.4rem;
    grid-template-areas:
      "nav header filter"
      "nav main filter"
      "nav footer filter";

    #app-header {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "title search";

      .title {
        grid-area: title;
        align-self: center;
      }
    }

    #app-footer {
      grid-area: footer;
      display: grid;
      justify-items: center;
      grid-template-columns: var(--base-x-16_5) 1fr var(--base-x-16_5);
      grid-template-areas: ". center .";

      #gallery-nav {
        grid-area: center;
      }
    }
  }
}

@media (max-width: 832px) {
  #root {
    grid-template-columns: 1fr;
    grid-template-rows: var(--base-x-10) var(--base-x-4) var(--base-x-4) 1fr var(
        --base
      );
    grid-template-areas:
      "header"
      "nav"
      "filter"
      "main"
      "footer";

    #app-header {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "title search";
    }

    #side-nav {
      flex-direction: row;
      justify-content: unset;

      #app-navigation {
        display: flex;
      }
    }

    #app-footer {
      grid-template-columns: 1fr;
      grid-template-areas: "center";

      #gallery-nav {
        grid-area: center;
      }
    }
  }
}
