#root {
  min-height: 100vh;
  background: var(--charcoal);
}

#app-header {
  background: var(--charcoal);
  padding: var(--base-x-4) var(--base-x-4) 0;
}

#app-header .title {
  color: var(--paper);
}
#root {
  display: block;
}
#app-navigation {
  background: var(--silk);
  height: 100vh;
  width: 13.4rem;
  padding: 11rem 0;
}

#app-navigation .path {
  color: var(--charcoal);
  font-weight: bold;
  font-size: var(--base-x-4);
  margin-bottom: var(--base-x-4);
}

#app-navigation .path:hover {
  color: var(--internationl-orange-engineering);
}

main {
  background: var(--charcoal);
}

.inset-right {
  box-shadow: inset -7px 0 9px -7px rgb(0, 0, 0);
  border-right: 2px solid black;
}

.overhang {
  box-shadow: 0 0.3rem 0.6rem var(--light-shadow), 0 0.3rem 0.6rem var(--dark-shadow);
}