#root {
  display: block;
  min-height: 100vh;
  background-color: var(--void);
  width: 100%;

  #app-header {
    background-color: var(--paper);
    margin: 0 0 var(--base) 0;
  }

  main {
    padding: var(--base-x-5);
    background-color: var(--paper);
  }

  #side-nav {
    background-color: var(--paper);
    margin: 0 var(--base) 0 0;

    min-height: 100%;

    #app-navigation {
      position: sticky;
      top: -1px;
      padding: var(--base-x-5);

      .path {
        margin-bottom: var(--base-x-4);
        font-size: var(--base-x-4);
        font-weight: bold;

        &:focus,
        &:hover {
          color: var(--internationl-orange-engineering);
        }
      }
    }

    .icons {
      position: sticky;
      bottom: 0;
      padding: var(--base);
      font-size: var(--base-x-1_5);

      .icons-content {
        display: none;
      }

      &:focus-within .icons-content,
      &:hover .icons-content {
        display: block;
      }

      .attribution:focus {
        color: var(--internationl-orange-engineering);
      }
    }
  }

  #app-footer {
    background-color: var(--paper);
    margin: var(--base) 0 0;
  }
}

.stick-to-bottom {
  position: sticky;
  bottom: 0;
}

@media (max-width: 832px) {
  #root {
    #app-header {
      padding: 0 2rem;
    }

    #app-footer {
      height: 8rem;
    }

    .stick-to-bottom {
      bottom: 6.8rem;
    }

    #side-nav {
      position: sticky;
      bottom: 0;

      #app-navigation {
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        padding: 0;

        .path {
          font-size: 1.8rem;
          margin-bottom: 0;
        }
      }

      #borrowed-assets {
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}