#root {
  display: grid;
  grid-template-columns: 13.4rem 1fr 70% 2fr;
  grid-template-rows: var(--base-x-15) 1fr;
  grid-template-areas:
    "nav . header header"
    "nav . main .";

  #app-header {
    grid-area: header;
    display: grid;
    align-content: center;
    grid-template-columns: 82% 1fr;
    grid-template-areas:
  "title .";

    .title {
      grid-area: title;
    }
  }


  main {
    grid-area: main;
  }

  #side-nav {
    grid-area: nav;
  }
}

@media only screen and (max-width: 1024px) {
  #root {
    grid-template-columns: 13.4rem 1fr 80% 1fr;
    grid-template-areas:
    "nav header header header"
    "nav main main main";
  }
}

@media only screen and (max-width: 832px) {
  #root {
    grid-template-columns: 13.4rem 1fr;
    grid-template-areas:
    "nav header"
    "nav main"
    "nav main";
  }
}