@import "styles/varabiles";

#root {
  display: block;
  min-height: 100vh;
  background-color: var(--void);
  width: 100%;

  #app-header {
    background-color: var(--paper);

    .title {
      width: 100%;
    }
  }
  #side-nav {
    background-color: var(--paper);
    min-height: 100%;

    #app-navigation {
      position: sticky;
      top: -1px;
      width: 100%;
      background-color: var(--void);

      .path {
        font-size: var(--base-x-4);
        font-weight: bold;
        background-color: var(--paper);
        height: var(--base-x-8);
        margin-bottom: var(--base);
        width: 100%;

        &:last-of-type {
          margin-bottom: 0;
        }

        &:focus,
        &:hover {
          background-color: var(--mint);
        }
      }
    }

    .icons {
      position: sticky;
      bottom: 0;
      padding: var(--base);
      font-size: var(--base-x-1_5);

      .icons-content {
        display: none;
        padding: 0;
      }

      &:focus-within .icons-content,
      &:hover .icons-content {
        display: block;
      }

      .attribution {
        height: unset;
      }

      .attribution:focus {
        color: var(--internationl-orange-engineering);
      }
    }
  }

  main {
    padding: var(--base-x-5);
    background-color: var(--paper);
    height: fit-content;

    &.gallery-in-view {
      padding: 0;
      height: 100%;
    }
  }

  #filter {
    background-color: var(--paper);
    position: fixed;
    bottom: var(--base-x-13);
    top: 0;
    right: 0;
    width: var(--base-x-16_5);
  }

  #app-footer {
    background-color: var(--paper);
  }
}

.stick-to-bottom {
  position: sticky;
  bottom: 0;
}

@media (max-width: $tablet) {
  #root {
    #app-header {
      padding-left: var(--base-x-5);
    }

    #filter {
      background-color: var(--paper);
      position: sticky;
      bottom: 0;
      top: 0;
      right: 0;
    }
  }
}

@media (max-width: $mobile) {
  #root {
    #app-header {
      padding: 0 2rem;

      #gallery-search {
        width: 100%;
        height: inherit;
      }
    }

    main {
      padding: var(--base);
      overflow: auto;
      height: auto;
    }

    #filter {
      bottom: unset;
      top: unset;
      right: unset;
      position: relative;
      width: 100%;
      margin: 0;
      height: fit-content;
    }

    #app-footer {
      height: 8rem;
    }

    #side-nav {
      width: 100%;
      display: flex;
      align-items: center;

      #app-navigation {
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        padding: 0;
        background-color: var(--paper);

        .path {
          font-size: 1.8rem;
          margin-bottom: 0;
          height: unset;
          width: fit-content;
        }
      }

      #borrowed-assets {
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
