html {
  font-size: 62.5%;
}

body {
  font-size: var(--base-x-2);
  color: var(--void);
}

body, p, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
  border-radius: 2rem;
  background: white;
}

.off-screen {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.gutter {
  padding: var(--base-x-4);
}

*:required:not(:read-only) + label:after {
  content: '*';
  color: var(--internationl-orange-engineering);
}

button:focus,
#avatar-cell:hover,
.last-column .menu:focus,
.last-column .menu:hover,
.last-column .menu:hover .menu-list,
.last-column .menu.open .menu-list,
#avatar-cell:hover:not(.read-only),
#avatar-cell:focus:not(.read-only),
#user-info-form.invalid .fancy-text:invalid,
#user-info-form .fancy .fancy-text:hover,
#user-info-form .fancy .fancy-text:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#avatar-cell.read-only:hover,
#avatar-cell.read-only:focus {
  box-shadow: none;
}

#same-as-home-cell.read-only {
  opacity: 0;
}

a {
  color: black;
}

a.button,
button {
  height: var(--base-x-5);
  border-radius: var(--base-x-5);
  text-transform: uppercase;
  padding: 1.2rem 1.8rem;
  font-size: 1.6rem;
  cursor: pointer;
  box-shadow: 0 0 var(--base-x-0_5) #999;
  text-align: center;
  outline: none;
}

a.button.primary,
button.primary {
  border: none;
  color: white;
  background-color: #007bff;
}

a.button.secondary,
button.secondary {
  border: 0.1rem solid #007bff;
  background-color: var(--paper);
}

.ripple {
  background-position: center;
  transition: background 0.5s;
}

a.button.ripple:hover,
.ripple:hover {
  color: white;
  background: #275c8d radial-gradient(circle, transparent 1%, #1e5eac 1%) center/15000%;
}

.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  /* colors */
  --paper: rgb(244, 244, 244);
  --silk: rgb(220, 208, 192);
  --mint: rgb(180, 219, 192);
  --internationl-orange-engineering: rgb(186, 45, 11);
  --field-drab: rgb(106, 88, 55);

  --charcoal: rgb(55, 55, 55);
  --void: rgb(14, 11, 22);

  --faded-leather: rgba(171, 152, 122, 0.2);
  --light-shadow: rgba(0, 0, 0, 0.16);
  --shadow: rgba(0, 0, 0, 0.19);
  --dark-shadow: rgba(0, 0, 0, 0.23);
  --disabled-gray: rgba(239, 239, 239, 0.3);

  /* spacing */
  --base-x-0_5: 0.4rem;
  --base: 0.8rem;
  --base-x-1_5: 1.2rem;
  --base-x-2: 1.6rem;
  --base-x-2_5: 2rem;
  --base-x-4: 3.2rem;
  --base-x-5: 4rem;
  --base-x-5_5: 4.4rem;
  --base-x-6: 4.8rem;
  --base-x-6_5: 5.2rem;
  --base-x-10: 8rem;
  --base-x-12: 9.6rem;
  --base-x-13: 10.4rem;
  --base-x-15: 12rem;
  --base-x-100: 80rem;
}