html {
  font-size: 62.5%;
}

body {
  font-size: var(--base-x-2);
  color: var(--void);
}

body, p, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
  border-radius: 2rem;
  background: white;
}

.off-screen {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.gutter {
  padding: var(--base-x-4);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-horizontal {
  display: flex;
  align-items: center;
}

.spread {
  display: flex;
  justify-content: space-between;
}

.stack {
  display: flex;
  flex-direction: column;
}

*:required + label:after {
  content: '*';
  color: var(--internationl-orange-engineering);
}

:root {
  /* colors */
  --paper: rgb(244, 244, 244);
  --silk: rgb(220, 208, 192);
  --mint: rgb(180, 219, 192);
  --internationl-orange-engineering: rgb(186, 45, 11);
  --field-drab: rgb(106, 88, 55);

  --charcoal: rgb(55, 55, 55);
  --void: rgb(14, 11, 22);

  --faded-leather: rgba(171, 152, 122, 0.2);
  --light-shadow: rgba(0, 0, 0, 0.16);
  --shadow: rgba(0, 0, 0, 0.19);
  --dark-shadow: rgba(0, 0, 0, 0.23);
  --disabled-gray:  rgba(239, 239, 239, 0.3);

  /* spacing */
  --base-x-0_5: 0.4rem;
  --base: 0.8rem;
  --base-x-2: 1.6rem;
  --base-x-2_5: 2rem;
  --base-x-4: 3.2rem;
  --base-x-5: 4rem;
  --base-x-5_5: 4.4rem;
  --base-x-6: 4.8rem;
  --base-x-6_5: 5.2rem;
  --base-x-10: 8rem;
  --base-x-100: 80rem;
}