@import "styles/varabiles";

#root {
  background-color: var(--void);
  min-height: 100vh;
}

:root {
  /* colors */
  --paper: rgb(244, 244, 244);
  --silk: rgb(220, 208, 192);
  --mint: rgb(180, 219, 192);
  --faded-mint: rgba(180, 219, 192, 0.5);
  --internationl-orange-engineering: rgb(186, 45, 11);
  --faded-internationl-orange-engineering: rgba(186, 45, 11, 0.4);
  --primary-blue: rgb(33, 150, 243);
  --primary-dark-blue: rgb(13, 71, 161);
  --field-drab: rgb(106, 88, 55);
  --charcoal: rgb(55, 55, 55);
  --void: rgb(14, 11, 22);
  --faded-leather: rgba(171, 152, 122, 0.2);
  --light-shadow: rgba(0, 0, 0, 0.16);
  --shadow: rgba(0, 0, 0, 0.19);
  --dark-shadow: rgba(0, 0, 0, 0.23);
  --disabled-gray: rgba(239, 239, 239, 0.3);
  --base-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  --light-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  --base-box-shadow-red: 0 2px 15px 15px rgb(186, 45, 11),
    0 1px 2px rgba(255, 255, 255, 1);

  /* spacing */
  --base-x-0_5: 0.25rem;
  --base: 0.5rem;
  --base-x-1_5: 7.5rem;
  --base-x-2: 1rem;
  --base-x-2_5: 1.25rem;
  --base-x-3: 1.5rem;
  --base-x-3_5: 1.75rem;
  --base-x-4: 2rem;
  --base-x-5: 2.5rem;
  --base-x-5_5: 2.75rem;
  --base-x-6: 3rem;
  --base-x-6_5: 3.25rem;
  --base-x-7: 3.5rem;
  --base-x-8: 4rem;
  --base-x-9: 4.5rem;
  --base-x-10: 5rem;
  --base-x-10_5: 5.25rem;
  --base-x-11: 5.5rem;
  --base-x-11_5: 5.75rem;
  --base-x-12: 6rem;
  --base-x-12_5: 6.25rem;
  --base-x-13: 6.5rem;
  --base-x-15: 7.5rem;
  --base-x-15_5: 7.75rem;
  --base-x-16: 8rem;
  --base-x-16_5: 8.25rem;
  --base-x-20: 10rem;
  --base-x-25: 12.5rem;
  --base-x-50: 25rem;
  --base-x-100: 50rem;
}
