@import-normalize;

@import "styles/button";
@import "styles/shared";
@import "styles/varabiles";

html {
  font-size: 62.5%;
}

body {
  font-size: var(--base-x-2);
  font-family: Arial, sans-serif;
  color: var(--void);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
select,
textarea {
  font-size: var(--base-x-2);
}

body,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
figure {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input {
  border-radius: 0;
}

a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &,
  &:visited {
    color: var(--void);
  }

  &:hover,
  &:focus {
    outline: none;
  }
}
