@import-normalize;

@import "styles/button";
@import "styles/shared";

html {
  font-size: 62.5%;
}

body {
  font-size: var(--base-x-2);
  font-family: Arial, sans-serif;
  color: var(--void);
}

input,
select,
textarea {
  font-size: var(--base-x-2);
}

body,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input {
  border-radius: 0;
}

a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &,
  &:visited {
    color: var(--void);
  }

  &:hover,
  &:focus {
    outline: none;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

figure {
  margin: 0;
}

:root {
  /* colors */
  --paper: rgb(244, 244, 244);
  --silk: rgb(220, 208, 192);
  --mint: rgb(180, 219, 192);
  --faded-mint: rgba(180, 219, 192, 0.5);
  --internationl-orange-engineering: rgb(186, 45, 11);
  --faded-internationl-orange-engineering: rgba(186, 45, 11, 0.4);
  --primary-blue: rgb(33, 150, 243);
  --primary-dark-blue: rgb(13, 71, 161);
  --field-drab: rgb(106, 88, 55);
  --charcoal: rgb(55, 55, 55);
  --void: rgb(14, 11, 22);
  --faded-leather: rgba(171, 152, 122, 0.2);
  --light-shadow: rgba(0, 0, 0, 0.16);
  --shadow: rgba(0, 0, 0, 0.19);
  --dark-shadow: rgba(0, 0, 0, 0.23);
  --disabled-gray: rgba(239, 239, 239, 0.3);
  --base-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  --light-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  --base-box-shadow-red: 0 2px 15px 15px rgb(186, 45, 11),
    0 1px 2px rgba(255, 255, 255, 1);

  /* spacing */
  --base-x-0_5: 0.4rem;
  --base: 0.8rem;
  --base-x-1_5: 1.2rem;
  --base-x-2: 1.6rem;
  --base-x-2_5: 2rem;
  --base-x-4: 3.2rem;
  --base-x-5: 4rem;
  --base-x-5_5: 4.4rem;
  --base-x-6: 4.8rem;
  --base-x-6_5: 5.2rem;
  --base-x-7: 5.6rem;
  --base-x-8: 6.4rem;
  --base-x-9: 7.2rem;
  --base-x-10: 8rem;
  --base-x-12: 9.6rem;
  --base-x-13: 10.4rem;
  --base-x-15: 12rem;
  --base-x-16_5: 13.2rem;
  --base-x-20: 16rem;
  --base-x-25: 20rem;
  --base-x-50: 40rem;
  --base-x-100: 80rem;
}
