.scrim {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  &:focus,
  &:hover {
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: url("../../../assets/icons/detective.png")
        no-repeat center;
      filter: invert(1)
        drop-shadow(0 0 var(--hairline-x-3) var(--white))
        drop-shadow(0 0 var(--hairline-x-3) var(--white));
    }
  }
}

.error {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: var(--base-x-5);
}
