.pressure {
  margin-bottom: var(--base-x-4);

  .pressures {
    display: block;
    width: 100%;
    height: var(--base-x-32_5);
    padding: var(--base) 0 var(--base-x-0_5);
    box-sizing: border-box;

    .midline {
      stroke: var(--charcoal);
      stroke-width: var(--hairline);
      vector-effect: non-scaling-stroke;
    }

    .bought {
      fill: var(--mint-shade);
    }

    .sold {
      fill: var(--internationl-orange-engineering);
    }
  }
}
