.pressure {

  .pressures {
    display: block;
    width: 100%;
    height: var(--base-x-32_5);
    padding: var(--base) 0 var(--base-x-0_5);

    .midline {
      stroke: var(--charcoal);
      stroke-width: var(--hairline);
      vector-effect: non-scaling-stroke;
    }

    .bought,
    .sold,
    .bought-wall,
    .sold-wall {
      transition: x 300ms ease-out, y 300ms ease-out, width 300ms ease-out, height 300ms ease-out;
    }

    .bought {
      fill: var(--mint-shade);
    }

    .bought-wall {
      fill: var(--mint-ink);
    }

    .sold {
      fill: var(--internationl-orange-engineering);
    }

    .sold-wall {
      fill: var(--internationl-orange-engineering-shade);
    }
  }
}
