#user-info {
  display: flex;
  flex-direction: column;
}

#user-candidates {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--base-x-2);
  row-gap: var(--base-x-5);
  grid-auto-rows: var(--base-x-5) 1fr;
  grid-template-areas:
    "title button"
    "table table";

  #title {
    grid-area: title;
    align-self: center;
  }

  #add-new-user {
    grid-area: button;
    justify-self: flex-end;
  }

  #users-table {
    grid-area: table;
  }
}
