#user-info {
  max-width: var(--base-x-172_5);
}

.users {
  &.card {
    background: var(--paper);

    &:not(:last-child) {
      margin-bottom: var(--base-x-4);
    }
  }

  &#user-candidates {
    overflow: auto;

    .title {
      position: sticky;
      left: 0;
      right: 0;
    }

    .last-column {
      display: flex;
      justify-content: space-between;

      .menu-toggle {
        width: var(--base-x-2_5);
        height: var(--base-x-2_5);
        border: none;
        padding: 0;
        cursor: pointer;
        outline: none;
        background: var(--paper);
        background-image: radial-gradient(
          circle,
          black 0.2rem,
          transparent 0.1rem
        );
        background-size: 100% 33.33%;

        &:hover,
        &:focus {
          box-shadow: var(--base-box-shadow);
        }
      }
    }
  }
}
