#user-info {
  max-width: var(--base-x-172_5);
}

.users {
  &.card {
    background: var(--paper);

    &:not(:last-child) {
      margin-bottom: var(--base-x-4);
    }
  }

  &#user-candidates {
    overflow: auto;

    .roster-title {
      position: sticky;
      left: 0;
      right: 0;
    }

    .last-column {
      display: flex;
      justify-content: space-between;

      .menu-toggle {
        width: var(--base-x-2_5);
        height: var(--base-x-2_5);
        border: none;
        padding: 0;
        cursor: pointer;
        outline: none;
        background: var(--paper);
        background-image: radial-gradient(
          circle,
          var(--black) 0.2rem,
          transparent 0.1rem
        );
        background-size: 100% 33.33%;

        &:hover,
        &:focus {
          box-shadow: var(--base-box-shadow);
        }
      }
    }
  }
}

#users-table {
  table-layout: fixed;
  width: 100%;
}

.user-candidates {
  .cell.full-name { width: 22%; }
  .cell.home-city { width: 18%; }
  .cell.age { width: 9%; }
  .cell.friends { width: 26%; }
  .cell.works-from-home { width: 25%; }
}
