@property --explode-x {
  syntax: '<length>';
  inherits: true;
  initial-value: 0px;
}

@property --explode-y {
  syntax: '<length>';
  inherits: true;
  initial-value: 0px;
}

@property --turn {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

@property --swing {
  syntax: '<angle>';
  inherits: true;
  initial-value: -180deg;
}

.pie {

  .split {
    display: block;
    height: var(--base-x-32_5);
    margin-inline: auto;
    padding: var(--base) 0 var(--base-x-0_5);
    overflow: visible;
    transform: scaleY(0.82);

    .slice {
      transform: translate(var(--explode-x), var(--explode-y));
      transition: transform 300ms ease-out;

      .spin {
        transform: rotate(var(--turn));
        transition: transform 300ms ease-out;
      }

      .half {
        transform-box: fill-box;
        transform-origin: left center;
        transform: rotate(var(--swing));
        transition: transform 300ms ease-out;
      }
    }
  }

  .legend {
    margin: 0;
    display: flex;
    justify-content: center;
    gap: var(--base-x-3);
  }
}
